<div ng-repeat="major in majorCandidates" ng-controller="majorCandidate" ng-init="selectedMajor=major.ident">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" href="#{{major.ident}}">
        {{major.ident}} - {{major.name}}
      </h4>
    </div>
    <div id="{{major.ident}}" class="panel-info collapse in">
      <div class="list-group" >
        <div class="list-group-item list-item animate-repeat" ng-repeat="course in courses">
          <major-candidate-course-item/>
        </div>
      </div>
    </div>
  </div>
  <course-candidate-list></course-candidate-list>
</div>
