<div ng-click="toggleSection(section,course,major)">
  <!--Pin to Show Taken-->
  <span class="glyphicon glyphicon-pushpin" aria-hidden="true" class="section-item"></span>
  <!--Course Time Slots-->
  <span class="section-item">
  	<div ng-repeat="timeslot in section.sectionTimeSlot">
  		<span ng-repeat="day in timeslot.days">{{day}}</span>
  		<span>{{timeslot.startTime.hour}}:{{timeslot.startTime.minute}}</span>
  		<span> - </span>
  		<span>{{timeslot.endTime.hour}}:{{timeslot.endTime.minute}}</span>
  	</div>
  </span>
  <!--Course Section Number-->
  <span class="section-item">{{section.ident}}</span>
  <!--Course Availability-->
  <span class="section-item">{{section.seats.remaining}}/{{section.seats.capacity}}</span>
</div>