<div ng-click="toggleSection(section,course)">
  <!--Pin to Show Taken-->
  <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
  <!--Course Time Slots-->
  <span>
  	<div ng-repeat="timeslot in section.sectionTimeSlot">

  		<div class="detailed-view">
  			<span ng-repeat="day in timeslot.days">{{day}}</span>
  		</div>
  		<span>{{timeslot.startTime.hour}}:{{timeslot.startTime.minute}}</span>
  		<span> - </span>
  		<span>{{timeslot.endTime.hour}}:{{timeslot.endTime.minute}}</span>
  	</div>
  </span>
  <!--Course Section Number-->
  <span>{{section.ident}}</span>
  <!--Course Availability-->
  <span>{{section.seats.remaining}}/{{section.seats.capacity}}</span>
</div>