<div ng-controller="friendsController">
    <div class="friend-item {{friend.status}}" ng-repeat="friend in friends" >
        <div ng-click="toggleFriend(friend)">
            <img class="clip-circle" ng-src='{{friend.picture}}'/>&nbsp
	        <font color='black'>{{friend.name}}</font>&nbsp
            <span ng-show="friend.taking==-1" style="float: right">
                <button type="button" class="btn btn-default btnbtn-block btn-warning" ng-click="">Invite</button>
            </span>
            <span ng-show="friend.taking==1" style="float: right">
                <font color='black'>Taking</font>&nbsp
            </span>
        </div>
    </div>
    
</div>