<!DOCTYPE html>
<html ng-app="courseconnect">
  <head>
    <meta charset='utf-8' />
    <link rel="stylesheet" href="javascripts/lib/bower_components/fullcalendar/dist/fullcalendar.css"/>
    <link rel="stylesheet" href="javascripts/lib/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="javascripts/lib/bower_components/angular-bootstrap/ui-bootstrap-csp.css"></link>
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css"/>
    <!-- jquery, moment, and angular have to get included before fullcalendar -->
    <script type="text/javascript" src="javascripts/lib/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/lib/bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="javascripts/lib/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="javascripts/lib/bower_components/angular-ui-calendar/src/calendar.js"></script>
    <script type="text/javascript" src="javascripts/lib/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script type="text/javascript" src="javascripts/lib/bower_components/fullcalendar/dist/gcal.js"></script>
    <script type="text/javascript" src="javascripts/lib/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/lib/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/lib/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="//rawgithub.com/GoDisco/ngFacebook/master/ngFacebook.js"></script>
    <script src="javascripts/app.js"></script>
    <script src="javascripts/services.js"></script>
    <script src="components/calendar/controller.js"></script>
    <script src="components/calendar/directive.js"></script>
    <script src="components/majorSelection/controller.js"></script>
    <script src="components/majorSelection/directive.js"></script>
    <script src="components/themePicker/controller.js"></script>
    <script src="components/themePicker/directive.js"></script>
    <script src="components/accountManagement/controller.js"></script>
    <script src="components/accountManagement/directive.js"></script>
    <script src="components/courseSelection/controller.js"></script>
    <script src="components/courseSelection/directive.js"></script>
    <script src="components/autoScheduler/controller.js"></script>
    <script src="components/autoScheduler/directive.js"></script>
    
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Course Connect</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          
          <login-status-bar></login-status-bar>
          <theme-picker></theme-picker>
        </div>
        <div id="fb-root"></div>
      </div>
    </nav>
    <calendar></calendar>
  </body>
</html>
