body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    /*font-size: 14px;*/
}

.fc-toolbar {
    visibility: hidden;
}

#displayPanel {
    position: absolute;
    max-width: 45%;
    margin-top: 100px;
    left: 15%;
}

#controlPanel {
    position: absolute;
    margin-top: 100px;
    left: 62%;
    min-width: 20%;
    max-height: 80%;
    overflow-y: auto;
}

/*.panel{
    max-height: 30px;
}
*/


.panel-heading{
    max-height: 34px;
}

.panel-title{
    min-height: 15px;
    max-height: 15px;
}

.clip-circle {
    border-radius:50%;
}

.list-item{
    font-size: 15px;
    vertical-align: middle;
    min-height: 28px;
}

.list-item:hover{
    cursor: pointer;
    background-color: #E8E8E8;
}

.list-group-item:hover {
    cursor: pointer;
    background-color: #E8E8E8;
}


.selected{
    cursor: pointer;
    background-color: #E8E8E8;
}

.panel-heading:hover {
    cursor: pointer;
}

.list-group{
    max-height: 300px;
    overflow-y:auto; 
}

.not-available{
    text-align: center;
    color: #aaa;
}

.section-item{
    display:inline-block;
    text-align: center;
}

.friend-item{
    font-size: 15px;
    vertical-align: middle;
    min-height: 28px;
}

.friend-item:hover{
    cursor: pointer;
    background-color: floralwhite;
}

.selected{
    cursor: pointer;
    background-color: floralwhite;
}

.color-scheme{
    background-color: blue;
}