body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
}

#displayPanel {
    position: absolute;
    max-width: 40%;
    margin-top: 100px;
    left: 20%;
}

#controlPanel {
    position: absolute;
    margin-top: 100px;
    left: 63%;
    max-width: 20%;
}



.list-group{
    max-height: 300px;
    overflow-y:scroll; 
}