<div ng-controller="scheduler">
    <div class="list-item" ng-repeat="course in courseCandidates" >
        <span>
            {{course.major}} {{course.ident}} - {{course.name}}
        </span>
        <span>
            <input type="checkbox" ng-click="toggleCourse(course)" style="float:right">
        </span>
    </div>
    <div class="list-group">
        <div class="list-group-item" ng-click="setSelectedAutoSchedule(schedule)" ng-repeat="schedule in auto_schedules" >
            <div ng-repeat="section in schedule">
                <span>{{section.course.major}} </span>
                <span>{{section.course.ident}}</span>
                <span>{{section.ident}}</span>
            </div>
        </div>
    </div>
</div>