<div ng-controller="calendarController">
  <div id='displayPanel'>
    <div id="calendar" ui-calendar="uiConfig.calendar" ng-model='eventSource'></div>
  </div>

  <div id='controlPanel' ng-controller="controlPanelTab">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="{{currentMode=='Schedule'?'active':''}}" ng-click="currentMode='Schedule';showManualSchedule()"><a>Schedules</a></li>
      <li role="presentation" class="{{currentMode=='Friends'?'active':''}}" ng-click="currentMode='Friends';showFriendSchedule()"><a>Friends</a></li>
      <li role="presentation" class="{{currentMode=='Auto-schedule'?'active':''}}" ng-click="currentMode='Auto-schedule';showAutoSchedule()"><a>Auto-Scheduler</a></li>
    </ul>

    <div class="placeholder" style="height:10px"></div>
    <div class="animate-switch" ng-show="currentMode=='Schedule'">
      <div ng-controller="courseSelectionPanel">
        <major-selection-panel></major-selection-panel>
      </div>
    </div>
    <div class="animate-switch" ng-show="currentMode=='Friends'">
      <friends-directive></friends-directive>
    </div>
    <div class="animate-switch" ng-show="currentMode=='Auto-schedule'">
      <schedule-course-candidate-list></schedule-course-candidate-list>
    </div>
  </div>
</div>